<!-- templates/home.html -->
 
<style> 
 
.header {
     
    margin-top: 30%;
     
 
}
 #id{
     
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    opacity: 0.9;
 }
 
 h1{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}
h6{
    text-align: center;
}
p{

    text-align: center;
    font-family:  "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

 
 
</style>

 
 
{% extends 'index.html' %}
 

{% block content %}


<body  id="bg" style="background-image: url('static/images/home_background.png'); "> 
 
<div class="header">
     <h1>Engage</h1>
     <h6>Find your way to the journey of Data Science </h6>
      
</div>
<div class="footer">
     
    <p>A platform for Analysis Enthusiasts</p>
     
     
</div> 
 
</body>

 
 
 
{% endblock content %}




 