<!-- templates/home.html -->
<style> 
 
.header {
    border-bottom:1px solid #eaeaea;
    margin-top: 30%;
}
 
 h1{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}
h6{
    text-align: center;
}
p{

    text-align: center;
    font-family:  "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
 
 
</style>

{% extends 'index.html' %}
 


{% block content %}

 
<div class="header">
     <h1>Engage</h1>
     <h6>Find your way to the journey of Data Science </h6>
</div>
<div class="footer">
     
    <p>A platform for Analysis Enthusiasts</p>
     
    <!-- <img src="https://github.com/Deaddemon/Random_Projects/blob/main/images/home_background.png"/>  
     <img src="images/home_background.png"> -->
</div> 

 
 
 
{% endblock content %}




 